<div class="container">
    <p-divider align="center">
        <div class="inline-flex align-items-center">
            <div class="display-5"> Welcome {{'Username'}}</div>
        </div>
    </p-divider>
    <div class="card p-4" style="border-radius: 20px;">
        <div class="card-body">
            <div class="row">
                <img src="https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80">
            </div>
            <div class="row mb-2">
                <div class="col-8">
                    <span class="fs-1 fw-light">{{'First Last Name'}}</span>
                </div>
                <div class="col">
                    <span class="fs-3 fw-light"><b>Balance</b>: <span
                            class="fs-4 word-wrap address">{{'₹560000'}}</span></span>
                </div>
            </div>
            <div class="row">
                <div class="col-7">
                    <span class="fs-3 fw-light"><b>Account</b>: <span class="fs-4">{{'135498680'}}</span></span>
                </div>
                <div class="col">
                    <span class="fs-3 fw-light"><b>Account Type</b>: <span class="fs-4">{{'Saving'}}</span></span>
                </div>

            </div>
            <div class="row">
                <div class="col-7">
                    <span class="fs-3 fw-light "><b>Phone Nunber</b>: <span
                            class="fs-4">{{'67457885485'}}</span></span>
                </div>
                <div class="col">
                    <span class="fs-3 fw-light "><b>Age</b>: <span class="fs-4">{{'34'}}</span></span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <span class="fs-3 fw-light "><b>Address</b>: <span class="fs-4 word-wrap address">{{'Lorem ipsum
                            dolor sit amet, consectetur adipiscing elit'}}</span></span>
                </div>
            </div>
        </div>
    </div>

</div>