<div class="container">
    <p-divider>
        <div class="display-3">Change Password</div>
    </p-divider>
    <div class="row">
        <div class="col-5 flex align-items-center justify-content-center">
            <div class="p-fluid">
                <div class="field">
                    <label for="username">Current Password</label>
                    <input pInputText id="username" type="text" />
                </div>
                <div class="field">
                    <label for="username">New Password</label>
                    <input pInputText id="username" type="text" />
                </div>
                <div class="field mb-2">
                    <label for="password">Confirm Password</label>
                    <input pInputText id="password" type="password" />
                </div>
                <p-button label="Change"></p-button>
            </div>
        </div>
        <div class="col-2">
            <p-divider layout="vertical">
                <b>OR</b>
            </p-divider>
        </div>
        <div class="col-5 flex align-items-center justify-content-center">
            <div class="p-fluid">
                <div class="field">
                    <label for="username">create Password</label>
                    <input pInputText id="username" type="text" />
                </div>
                <div class="field mb-2">
                    <label for="password">Confirm Password</label>
                    <input pInputText id="password" type="password" />
                </div>
                <p-button label="Change" styleClass="p-button-success"></p-button>
            </div>
        </div>
    </div>
</div>